# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock

# Plataforma gerada no build (flutter create no container)
android/
ios/
linux/
macos/
windows/
web/

# APK gerado
*.apk
torre.apk
